node_modules/
dist/
dist-ssr/
*.local
.env
.env.development.local
.env.test.local
.env.production.local
.env.prod
/agent

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.agent

# Uploaded user files
uploads/